
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DemoProject</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <app-root></app-root>
    
    <script type="text/javascript" src="~/Scripts/clients/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/clients/es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="~/Scripts/clients/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/clients/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/clients/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/clients/main.js"></script>
</body>
</html>
